@import "tailwindcss";


:root {
/* Typography */

  --text-primary: #FFFFFF;
  --text-secondary: #AAAAAA;
  --text-tertiary: #666666;
  --text-disabled: ;
  --text-inverted: ;
  --text-link: ;
  --text-link-hover: ;


/* Backgrounds/Surfaces */
  
  --bg-primary: #0A0A10;
  --bg-secondary: #12121D;
  --bg-tertiary: #1C1C27;
  --bg-hover: ;
  --bg-inverted: ;
  --bg-overlay: ;


  /* Borders & Dividers */

  --border: rgba(255, 255, 255, 0.1);
  --divider: rgba(255, 255, 255, 0.05);

  /* Brand Colors */

   --primary: #FFD166; 
  --primary-light: ;
  --primary-dark: ;

  --secondary: #4F83CA; 
  --secondary-light: ;
  --secondary-dark: ;

  --tertiary: #FF6B35;   
  --tertiary-light: ;
  --tertiary-dark: ;

/* Feedback colors */
  
  --success: #7ED321;              /* Green = System Stable */
  --warning: #FFA700;              /* Warning / Caution Mode */
  --error: #FF3B30;                /* Error / Critical Alert */
  --info: ;

/* Interactive Elements */

    /* === Hover States & Variants === */
  --primary-hover: #ca3232;
  --secondary-hover: #3D6BC0;
  --tertiary-hover: #E05A2C;

  --btn-bg: var(--bg-primary);
  --btn-text: var(--primary);
  --btn-hover-bg: var(--color-primary-dark);
  --btn-hover-text: var(--primary-hover)
  --btn-disabled-bg: var(--color-gray-300);
  --btn-disabled-text: var(--color-gray-500);

  --input-bg: var(--color-white);
  --input-border: var(--color-gray-300);
  --input-focus: var(--color-primary);
  --input-placeholder: var(--color-gray-400);
}

.btn {
  background-color: var(--btn-bg);
  color:var(--btn-text);  
  transition: transform 300ms ease;
  transform: translate(0);
}

.btn:hover {
  color:var(--primary-hover);
  transform: scale(1.10) translate(0);
}

.dark {
  --background: #0A0A10;
  --surface: #12121D;
  --glass-overlay: rgba(255, 255, 255, 0.05);

  --sun-core: #FF3E3E;
  --sun-inner-glow: #FF6B35;
  --sun-outer-glow: #FFD166;

  --tech-panel: #1C1C27;
  --tech-accent: #4F83CA;
  --tech-hologram: #7DB9E8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
